DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=CSDLDPT_audio_db
DB_CHARSET=utf8mb4

AUDIO_DIR=Am_Thanh_Data
FAISS_SAVE_INTERVAL=20

FFMPEG_PATH=
AUDIO_OUTPUT_DIR=Am_Thanh_Data
CRAWL_METADATA_FILE=src/artifacts/stage1/metadata.json
YT_DOWNLOAD_ARCHIVE=src/artifacts/stage1/download_archive.txt
STAGE1_LABEL_LAYOUT=speaker_topic
